@font-face { font-family: "mac-Clbr"; font-display: swap; src: local("Calibri"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri.woff2"); }
@font-face { font-family: "mac-Clbr-Bld"; font-display: swap; src: local("Calibri-Bold"), local("Calibri Bold"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Bold.woff2"); }
@font-face { font-family: "mac-Clbr-BldItlc"; font-display: swap; src: local("Calibri-BoldItalic"), local("Calibri Bold Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-BoldItalic.woff2"); }
@font-face { font-family: "mac-Clbr-Itlc"; font-display: swap; src: local("Calibri-Italic"), local("Calibri Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Italic.woff2"); }
/* @font-face { font-family: "win-Clbr"; font-display: swap; src: local("Calibri"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri.woff2"); } */
/* @font-face { font-family: "win-Clbr-Bld"; font-display: swap; src: local("Calibri-Bold"), local("Calibri Bold"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Bold.woff2"); } */
/* @font-face { font-family: "win-Clbr-BldItlc"; font-display: swap; src: local("Calibri-BoldItalic"), local("Calibri Bold Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-BoldItalic.woff2"); } */
/* @font-face { font-family: "win-Clbr-Itlc"; font-display: swap; src: local("Calibri-Italic"), local("Calibri Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Italic.woff2"); } */

body {
    font-family: Calibri, mac-Clbr, sans-serif;
}

.resume {
    margin: 0.5in 1.5in;
    line-height:  1.3;
    font-size: 10pt;
}

div.name {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

div.contact-info {
    text-align: center;
    font-size: 8pt;
}

div.tagline {
    text-align: center;
    font-size:  16pt;
    font-weight: bold;
    margin-top: 8pt;
    letter-spacing: 5%;
}

div.summary {
    text-align: justify;
}

.section {
    margin-top: 4pt;
}

div.section-title {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 5%;
}

div.skills {
    padding-bottom: 30px;
}

div.skills-group {
    //padding-bottom: 40px;
    line-height: 1.5;
}

div.skills-group .group-name {
    font-weight: bold;
    text-transform: uppercase;
}

div.skills-group .skills-list {
    position: absolute;
    left: 3in;
}

div.skills-group .skills-list .skill-item {

}

div.employer-id {
    font-size: 13pt;
    text-transform: uppercase;
}

div.employer-id .employer-name {
    font-weight: bold;
}

div.employer-id .employer-location {
    float: right;
    //padding-right: 0.25em;
}

div.employer-id .employer-date {
    float: right;
    padding-left: 0.25em;
    letter-spacing: 5%;
}

div.experience-employer .experience-positions {
    padding-left: 1.5em;
    padding-bottom: 1.5em;
}

div.position-id {
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 5%;
}

div.position-id .position-title {
    font-weight: bold;
}

div.position-id .position-date {
    //float: right;
}

div.position-details .details-group .group-name {
    text-transform: uppercase;
    font-size: 11pt;
}

div.position-details .details-group ul {
    font-size: 10pt;
    margin-block-start: 0;
    list-style-type: disc;
}

div.education-item {
    text-align: center;
    font-size: 11pt;
    text-transform: uppercase;
}
