@media screen {
@font-face { font-family: "Calibri"; font-display: swap; src: url("/font/Calibri.otf"), format('otf'); font-weight: normal; font-style: normal;}
@font-face { font-family: "Calibri"; font-display: swap; src: url("/font/Calibri-Bold.otf"), format('otf');  font-weight: bold; font-style: normal;}
@font-face { font-family: "Calibri"; font-display: swap; src: url("/font/Calibri-Italic.otf"), format('otf');  font-weight: normal; font-style: italic;}
@font-face { font-family: "Calibri"; font-display: swap; src: url("/font/Calibri-BoldItalic.otf"), format('otf');  font-weight: bold; font-style: italic;}
}

:root {
    --title-letter-spacing: 0.1ch;
}

body {
    font-family: Calibri, sans-serif;
}

.resume {
    margin: 0pt 18pt;
    font-size: 9.5pt;
    font-family: Calibri, sans-serif;
}

.section:first-of-type {
    margin-top: initial;
}

.section {
    margin-top: 9pt;
}

.section-title {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;

    line-height: 1.2;
    letter-spacing: var(--title-letter-spacing);
}

.name {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

.contact-info {
    text-align: center;
    font-size: 8pt;
}

.tagline {
    text-align: center;
    font-size:  15pt;
    font-weight: bold;
    margin-top: 8pt;
    letter-spacing: var(--title-letter-spacing);
}

.summary {
    text-align: justify;
    line-height: 1.3;
}

.skills {
}

.skills-group {
    line-height: 1.2;
    vertical-align: top;
}

.skills-group .group-name {
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 15px;
}

.skills-group .skills-list {
}

.skills-group .skills-list .skill-item {
    white-space: pre;
}

.experience-employer {
    margin-bottom: 14pt;
}

.experience-employer .employer-id {
    font-size: 12pt;
    letter-spacing: var(--title-letter-spacing);
    text-transform: uppercase;
}

.employer-id .employer-name {
    font-size: 13pt;
    font-weight: bold;
}

.employer-id .employer-location {
    float: right;
}

.employer-id .employer-date {
    float: right;
    padding-left: 0.25em;
    letter-spacing: var(--title-letter-spacing);
}

.experience-employer .experience-positions {
    margin-left: 14pt;
}

.experience-employer .experience-position:first-of-type {
    margin-top: 1pt;
}

.experience-employer .experience-position {
    margin-top: 8pt;
}

.experience-position .position-id {
    font-size: 11pt;
    letter-spacing: var(--title-letter-spacing);
}

.position-id .position-title {
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
}
.position-id .position-sub-title-line {
    font-size: 9pt;
    margin-left: 2ch;
    margin-top: -3pt;
    margin-bottom: 2pt;
    &::before {
        content: '\21b3  ';
    }
    &::before, .position-sub-title {
        font-weight: bold;
    }
    .position-sub-title-prefix{
        letter-spacing: calc(var(--title-letter-spacing) * 0.5);
    }
}
.position-id .position-date {
}

.experience-position .position-details {
}

.position-details .details-group {
    margin-top: 1pt;
    margin-bottom: 4pt;
}
.position-details .details-group .group-name {
    font-size: 11pt;
    letter-spacing: var(--title-letter-spacing);
    text-transform: uppercase;
    margin-left: 14pt;
}

.position-details .details-group ul {
    margin-top: initial;
    margin-bottom: initial;

    line-height: 1.1;
    /* list-style-type: disc; */
}

.position-details .details-group ul li::before {
    content: "•";
    position: absolute;
    left: -7pt;
    top: 0.1%;
}

.position-details .details-group ul li {
    /* margin-top: 3pt; */
    margin-bottom: 3pt;
    position: relative;
    list-style: none;
}

.education-item {
    text-align: center;
    font-size: 11pt;
    text-transform: uppercase;
}

@media print {
    .resume {
        margin: 0;
    }
    {% if prevent_breaks -%}
    .employer-id, .position-id {
        break-after: avoid-page;
    }

    .details-group, .experience-position {
        /* color: blue; */
        break-inside: avoid-page;
    }
    {%- endif %}
}
