@font-face { font-family: "Calibri"; font-display: swap; src: local("Calibri"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri.woff2"); }
@font-face { font-family: "Calibri-Bld"; font-display: swap; src: local("Calibri-Bold"), local("Calibri Bold"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Bold.woff2"); }
@font-face { font-family: "Calibri-BldItlc"; font-display: swap; src: local("Calibri-BoldItalic"), local("Calibri Bold Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-BoldItalic.woff2"); }
@font-face { font-family: "Calibri-Itlc"; font-display: swap; src: local("Calibri-Italic"), local("Calibri Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Italic.woff2"); }
/* @font-face { font-family: "win-Clbr"; font-display: swap; src: local("Calibri"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri.woff2"); } */
/* @font-face { font-family: "win-Clbr-Bld"; font-display: swap; src: local("Calibri-Bold"), local("Calibri Bold"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Bold.woff2"); } */
/* @font-face { font-family: "win-Clbr-BldItlc"; font-display: swap; src: local("Calibri-BoldItalic"), local("Calibri Bold Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-BoldItalic.woff2"); } */
/* @font-face { font-family: "win-Clbr-Itlc"; font-display: swap; src: local("Calibri-Italic"), local("Calibri Italic"),url("https://www.icloud.com/applications/ix/14E131/static-assets/14E131/fonts/Calibri-Italic.woff2"); } */

body {
    font-family: Calibri, mac-Clbr, sans-serif;
}

.resume {
    margin: 0in .25in;
    font-size: 9.5pt;
}

div.name {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}

div.contact-info {
    text-align: center;
    font-size: 8pt;
}

div.tagline {
    text-align: center;
    font-size:  15pt;
    font-weight: bold;
    margin-top: 8pt;
    letter-spacing: 5%;
}

div.summary {
    text-align: justify;
    line-height: 1.3;
}

div.section {
    margin-top: 10px;
}

div.section-title {
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
    text-transform: uppercase;

    line-height: 1.2;
    letter-spacing: 5%;
}

div.skills {
    margin-bottom: 30px;
}

div.skills-group {
    line-height: 1.5;
}

div.skills-group .group-name {
    font-weight: bold;
    text-transform: uppercase;
}

div.skills-group .skills-list {
    position: absolute;
    left: 11em;
}

div.skills-group .skills-list .skill-item {

}

div.employer-id {
    font-size: 12pt;
    letter-spacing: 5%;
    text-transform: uppercase;
}

div.employer-id .employer-name {
    font-weight: bold;
}

div.employer-id .employer-location {
    float: right;
}

div.employer-id .employer-date {
    float: right;
    padding-left: 0.25em;
    letter-spacing: 5%;
}

div.experience-employer .experience-position {
    padding-top: 1pt;
}

div.experience-employer .experience-positions {
    padding-left: 1.5em;
    padding-bottom: 1.5em;
}

div.position-id {
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 5%;
}

div.position-id .position-title {
    font-weight: bold;
}

div.position-id .position-date {
    //float: right;
}

div.position-details .details-group {
    margin-top: 1pt;
}
div.position-details .details-group .group-name {
    font-size: 11pt;
    letter-spacing: 5%;
    text-transform: uppercase;
}

div.position-details .details-group ul {
    margin-block-start: 0;
    margin-block-end: 0pt;
    padding-bottom: 3pt;

    //list-style-type: disc;
}

div.position-details .details-group ul li {
    padding-top: 3pt;
    padding-bottom: 1pt;
    position: relative;
    list-style: none;
    line-height: 1.1;
}

div.position-details .details-group ul li::before {
    content: "•";
    position: absolute;
    left: -10px;
    top: 1;
}

div.education-item {
    text-align: center;
    font-size: 11pt;
    text-transform: uppercase;
}
